/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.project
.classpath
.idea/
*.class
*.classpath
*.idea
*.iml
*.xml
out/
module-info.java
build.fxbuild
/src/META-INF/MANIFEST.MF
/bin/